@media(max-width:768px) {
  .intro-divider {
    width: 100%;
  }

  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  .menu-button{
    width: 60px;
    font-size: 12px;
  }
}

/* @media(max-width:1199px) {
  .menu-button{
    display:none;
  }
} */

