$blue-primary: #213338;
$blue-second: #1c2456;
$white-primary: #f8f8f8;
$gray: #e7e7e7;
$gray-blog: lighten(black, 50%);
$brand-primary: #0085A1;
$gray-dark: lighten(black, 25%);
//
$white-faded: fade(white, 80%);
$gray-light: #eee