---
layout: post
---
<a href="/" class="fa fa-home"> Volver al inicio</a>
{% for post in paginator.posts %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title"> {{ post.title }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">
          {{ post.subtitle }}
      </h3>
      {% endif %}
    </a>
      <p class="post-meta">Por {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} • {{ post.date | date: "%b %-d, %Y" }}</p>
  </div>
  <hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
posts más recientes</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">posts más antiguos &rarr;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
