<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/assets/bootstrap/bootstrap.css" | prepend: site.baseurl }}" >
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{{"/assets/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}">

    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/highlight.css" | prepend: site.baseurl }}" >

    <link rel="stylesheet" href="{{ "/assets/css/blog.css" | prepend: site.baseurl }}" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="intro-header" >
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                <h2>{{ site.title }}</h2>
              </div>
            </div>
        </div>
      </div>
    </header>

    <div class="container posts">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if page.category == "Posts" %}
          <a href="/blog" class="fa fa-long-arrow-left"> Volver a los posts</a>
        {% endif %}
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
              <blockquote>{{ page.subtitle }}</blockquote>
            {% endif %}
            {% if page.category == "Posts" %}
              <div class="meta">Por
                <span>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span>
                 • {{ page.date | date: "%b %-d, %Y" }}

              </div>
            {% endif %}
          </div>

          {{ content }}


          <ul class="pager">
            {% if page.previous.url and page.previous.category == "Posts" %}
              <li class="previous">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Anterior Post</a>
              </li>
            {% endif %}

            {% if page.next.url %}
              <li class="next">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Siguente post &rarr;</a>
              </li>
            {% endif %}
          </ul>

          {% include js.html %}

          {% if page.comments %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'nmenag';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>